.sectionError{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: transparent;
}

.sectionError h1{
  font-size: 16vw;
  margin: 0;
}

.sectionError a{
  margin-top: 150px;
}