.diapo{
  position: relative;
}

.diapo img{
  max-height: 450px;
  object-fit: cover;
  width: 100%;
  border-radius: 25px;
  margin: 40px 0;
  
}

.diapo .arrows{
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.diapo .arrows img{
  max-width: 45px;
  cursor: pointer;
}


.entete{
  display: flex;
  justify-content: space-between;
}

.enteteGauche{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h1{
  font-weight: 500;
  font-size: 2em;
  margin: 0;
}

.tags{
  display: flex;
}

.tags div{
  background-color: #FF6060;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  max-width: 150px;
  padding: 5px 20px;
  font-size: 14px;
  margin-right: 10px;
}

.proprio{
  display: flex;
  align-items: center;
}

.proprio img{
  background-color: grey;
  border-radius: 100%;
  margin-left: 20px;
  width: 100px;
}

.stars{
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

