header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo{
  max-width: 180px;
}

nav ul{
  list-style: none;
  display: flex;
}

nav a{
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.1em;
}

nav a:hover{
  text-decoration: underline;
}


@media screen and (max-width: 500px)
{
  .logo{
    max-width: 100px;
  }
  nav a{
    font-size: 0.9em;
    margin-left: 20px;
  }
}