.sectionHome{
  background-color: #F6F6F6;
  border-radius: 10px;
}

.sectionHome div{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

article{
  background-color: #FF6060;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

article h2{
  color: white;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  margin: 1em;
  font-size: 18px;
  z-index: 2;
}

article .filter{
  background: linear-gradient(to top,black, transparent, transparent);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

article img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}